@font-face {
  font-family: "BebasNeueBold";
  src: url("ofont.ru_Bebas Neue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueBook";
  src: url("ofont.ru_Bebas Neue2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
 }